
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<ShippingApp.Models.OrderModel>

<h1>Orders</h1>
<p><a href="/order/new">Create</a></p>
<p><a href="/order/all">All Orders</a></p>

<hr />

@foreach (var item in Model)
{
    <div>
        <a href=@string.Format("/order/o/{0}", @item.OrderId)>@item.OrderId</a> @item.Description
        <hr />
    </div>
}